@charset "utf-8";
:root {--color_w: #fff;--m_color: #f36f21;}

#mslide {width: 100%;position: relative;height: 95vh;overflow: hidden;}
#mslide div {position: absolute;}
.slide1 {z-index: 3;width: 100%;}
.slide2 {z-index: 2;width: 100%;}
.slide3 {z-index: 1;width: 100%;}
#mslide div img {width: 100%;}
.sns {position: absolute;left: 3%;top: 560px;z-index: 100;}
.sns i.fa-brands {font-size: 1.25rem;color: var(--color_w);padding: 6px  8px;border: 1px solid var(--color_w);transition: 0.3s;}
.sns a:hover i.fa-brands {color: var(--m-color);background-color: var(--color_w);}
#mslide .l_btn, #mslide .r_btn {position: absolute;bottom: 100px;left: 3%;z-index: 1000;background-color: var(--color_w);padding: 6px 0px;}
#mslide .r_btn {left: 5%;}
.c_btn {position: absolute;right: 1.5%;top: 47%;z-index: 1000;}
.c_btn li {width: 14px;height: 14px;border-radius: 50%;background-color: var(--color_w);margin-bottom: 10px;}
.on {background-color: #742406 !important;}

#news {display: flex;justify-content: space-between;width: 1200px;margin: 80px auto;}
#news article:first-child {width: 640px;}
#news article:last-child {width: 560px;margin-left: 3%;}
#news > article > ul > li {width: 400px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 30px;}
#news > article > ul > li > a {color: #666666;}
#news > article > ul > li:first-child {font-weight: bold;}
#news article h2 {font-size: 2.2rem;padding-bottom: 3%;}
#news article h2 span {display: block;font-size: 1rem;font-weight: normal;padding-bottom: 1%;}
.fa-circle {color: var(--m_color);padding-right: 6px;font-size: 16px;}

#tab_con {background: #f1f1f1;padding: 100px 0px;}
#tab_con h2 {font-size: 32px;padding: 10px 0px;font-weight: bold;}
#tab_con > article {width: 1200px;height: 500px;margin: 0 auto;background-image: url(../images/mcon2_7.png);background-repeat: no-repeat;background-position: 600px 150px;background-size: 550px;position: relative;}
#tab_con > article > ul {width: 650px;display: flex;position: relative;margin-top: 30px;}
#tab_con ul li {margin-right: 10px;}
#tab_con ul li a {background-color: #222;color: #fff;font-size: 16px;padding: 10px 5px;}
#tab_con ul li a:hover {text-decoration: none;}
.t_on {background: var(--m_color) !important;}
#tab_con .con, i.fa-caret-down{display: none;}
#tab_con .con1{display: block;}
#tab_con .con {position: absolute;top: 50px;width: 100%;left: 0px;}
#tab_con dl {line-height: 160%;}
#tab_con dl dt {font-size: 24px;font-weight: bold;padding-bottom: 10px;}
#tab_con .con img {width: 80%;}

#product {background-color: #ffc845;padding: 100px 0px;}
#product > article {width: 1200px;margin: 0 auto;}
#product > article > ul {display: flex;}
#product ul li {width: 31%;justify-content: space-between;padding: 10px;}
#product ul li img {width: 100%;}
#product ul li h3 {font-size: 24px;border-bottom: 1px solid #9f5e05;height: 60px;line-height: 30px;padding-top: 30px;}
#product ul li p {padding-top: 10px;font-size: 14px;line-height: 30px;color: #805a28;}
#product > article > h2 {font-size: 32px;padding: 10px 0px;font-weight: bold;}

#event {padding: 100px 0px;width: 1200px;margin: 0 auto;position: relative;}

#event h2 {font-size: 32px;padding: 15px 0px;font-weight: bold;}

.e_slide {overflow: hidden;}
.es_wrap {display: flex;width: 3600px;}
.es_wrap > div {width: 1200px;}
.es_wrap > div > a {display: flex;text-decoration: none;}
.e_text {padding: 30px 0px 0px 40px;}
.e_text span {background-color: #e4e4e4;padding: 3px 5px;}
.on1 {background-color: var(--m_color) !important;color: var(--color_w);padding: 3px 5px;}
.e_text h3 {font-size: 18px;line-height: 60px}
.e_text p {font-size: 16px;}
#event i.fas {position: absolute;top: 160px;font-size: 30px;padding: 5px 12px;border-radius: 50%;border: 1px solid #333;top: 272px;}
#event i.fa-angle-left {left: -55px;}
#event i.fa-angle-right {right: 55px;}